In [1]:
import numpy as np
import pandas as pd

In [25]:
#loading the UCI Air_quality_data(csv file) into data frame
#few places had semicolor instead of , as a seperable symbol hence we used (sep=';')method
air_data=pd.read_csv('AirQualityUCI.csv',sep=';',decimal=',')

In [28]:
air_data.head()
air_data.shape

(9471, 17)

REMOVING LAST TWO UNNAMED DATA COLUMNS FROM DATA FRAME USING SLICING

In [29]:
air_data=air_data.iloc[:,:-2]
air_data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004,21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004,22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [30]:
#printing last 5 rows
air_data.tail()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DATA CLEANING

In [31]:
#remove nan rows we can check in csv file from where is the data missing
#data is missing from 9357th row
air_data.loc[9357]

Date             NaN
Time             NaN
CO(GT)           NaN
PT08.S1(CO)      NaN
NMHC(GT)         NaN
C6H6(GT)         NaN
PT08.S2(NMHC)    NaN
NOx(GT)          NaN
PT08.S3(NOx)     NaN
NO2(GT)          NaN
PT08.S4(NO2)     NaN
PT08.S5(O3)      NaN
T                NaN
RH               NaN
AH               NaN
Name: 9357, dtype: object

9356 is the last valid data set therefore we will remove other rows (data cleaning)

In [32]:
air_data=air_data.head(9357)

In [34]:
#NaN values removed
air_data.shape

(9357, 15)

CHECKING NUMBER OF MISSING VALUES
In UCI missing values are tagged with (-200) values therefore there was 0 missing values

In [37]:
#getting info about the data(find non-null count and datatypes)
air_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.1+ MB

In [40]:
#here we will count total no of -200 values
air_data.isin([-200]).sum(axis=0)

Date                0
Time                0
CO(GT)           1683
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64

Handling the missing values

To handle the missing values first we will convert -200 values with NaN and then replace it with mean value

In [42]:
air_data=air_data.replace(to_replace=-200,value=np.nan)